html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: url("../../../slome_3_hex.ttf");
    text-align: center;
    font-size: 2vh;
    color:white;
    background-color: black;
}
#main {
    /* height: 95%;
    width: 49.4%; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;
    image-rendering: crisp-edges;
    border: 25px black solid;
}
button {
    width: 5vh;
    height: 5vh;
    border-radius: 100px;
    font-size: 2vh;
}